*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body, .everything {
    height: 100%;
}

select {
    font-family: "Lucida Grande";
    font-size: 0.8em;
}

label {
    font-weight: bold;
    font-size: 0.8em;
}

.everything {
    width: 100%;
    height: 100%;
    background-color: #272822;
}

.toolbar {
	background-color: #ddd;
    padding: 0.5em;
}

/* Clearfix. Get this from somewhere else or factor into a utility. */
.toolbar:after  {
    content: " ";
    display: table;
    clear: both;
}

.toolbar .left {
    float: left;
    padding-top: 0.4em;
}

.toolbar .right {
    float: right;
}

.synthSelector {
    float: left;
    margin-top: 0.45em;
}

#gfx {
    float: right;
    padding-right: 1em;
    padding-top: 0.25em;
}

.playSynth .playButton {
    height: 1.75em;
    width: 1.75em;
    padding: 0;
    border: 0 none;
    border-radius: 2em;
    font-size: 125%;
    float: left;
    background-color: #777;
    color: #fff;
    text-align: center;
    margin-left: 0.5em;
    margin-top: 0;
}

.playButton.paused {
    padding-left: 0.45em;
    padding-right: 0.45em;
}

.playSynth button {
    float: right;
    width: 4.5em;
    padding: 0.5em;
    border: 0 none;
    border-radius: 0.3em;
    font-size: 75%;
    background-color: #777;
    color: #fff;
    text-align: center;
    margin-top: 0.35em;
}

.mainPanel {
    height: 100%;
    width: 100%;
    padding-top: 3.1em;
    background-color: #272822;
}

.mainPanel.split {
    width: 50%;
}

#source-view {
    font-size: 12pt;
    float: left;
    border-right: 1px dotted #aaa;
}

#visual-view {
    color: #fff;
    overflow: auto;
    position: relative;
    float: right;
}

.CodeMirror {
    height: 100%;
}

.CodeMirror-scroll {
    overflow: auto;
}

.masthead {
    background-color: #aaa;
    padding: 0.5em;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.node {
    width: 7.5%;
    height: 5%;
    background-color: #999;
    color: #fff;
    border-radius: 0.5em;
    border: 0.1em solid #999;
    padding-bottom: 2.2em;
    padding-top: 1.2em;
    text-align: center;
    letter-spacing: 0.1em;
    font-size: 0.9em;
    z-index: 1;
}

.node.flock\.ugen\.value {
    width: 6%;
    height: 5%;
    font-family: monospace;
    font-weight: normal;
    font-size: 1em;
    background-color: #272822;
}

._jsPlumb_overlay {
    border-radius: 0.5em;
    background-color: rgba(68, 85, 102, 1);
    color: #fff;
    padding: 0.5em 0.5em;
    font-size: 0.75em;
    z-index: 2;
    letter-spacing: 0.1em;
}

._jsPlumb_endpoint {
    z-index: 1;
}

._jsPlumb_endpoint circle {
    fill: #272822;
    z-index: 1;
    stroke: #999;
}
