h1 {
    text-align: center;
}

#editor { 
    position: absolute;
    margin: 0;
    top: 215px;
    bottom: 0;
    left: 0.5%;
    right: 0;
}

#scopeArea {
	width: 98.6%;
	height: 75px;
	background-color: #ccc;
	margin: 0.5% 0 0 0;
	padding: 0.5%;
}

.playButton {
    height: 50px;
    width:  50px;
    float:  left;
    margin: 13px 5% 0% 1%;
}

#gfx {
    margin: 3px;
    border: 3px solid #aaa;
    border-radius: 10px;
}

#gfxContainer {
    float: right;
    margin-right: 0.4%;
}

#gfxContainer div {
    font-size: 0.75em;
    margin-left: 5px;
}

#navi {
    padding: 0.5%;
    background-color: #ddd;
    width: 98.6%;
}

