body {
    width: 50%;
    font: 12pt Arial, sans-serif;
}

.control-row {
   list-style: none;
   margin: 0 0 0 0;
   padding: 0;
}

.control-row li {
    display: inline-block;
    margin: 10px;
}

.control {
    display: block;
    margin: auto;
}

.control + div {
    height: auto;
    position: relative;
    text-align: center;
    font: 10pt Arial, sans-serif;
    font-weight: bold;
    color: gray;
}
