body {
    margin-left: 2%;
    font-family: Arial, sans-serif;
    background: #eee;
}

label {
    display: none;
}

input {
    display: none;
}

.controls {
    width: 50%;
}

.view {
    clear: both;
}

.fileSelector,#waveform {
    border: solid #888 5px;
    border-radius: 25px;
}

.fileSelector {
    padding: 3%;
    width: 80%;
    margin-bottom: 1.5%;
    float: left;
}

#filePath {
    font-family: courier, monospace;
    padding-top: 2.5%;
    padding-right: 3%;
    float: left;
}

#browse {
    border: 2px solid #888;
    border-radius: 10px;
    font-size: 100%;
    font-style: italic;
    background: #fff;
    padding: 1.5%;
}

#playButton {
    background: transparent url("../../../images/play.png") no-repeat 0px 0px;
    border: none;
    height: 77px;
    width: 77px;
    float: left;
    margin: 1.25% 0% 0% 2%;
    color: #fff;
}
