@import url(http://fonts.googleapis.com/css?family=Nunito:700);
body {
    margin-left: 2%;
}

.fileSelector label {
    display: none;
}

#fileBrowser {
    display: none;
    padding: 10px;
}


.view {
    clear: both;
}

.selectors,#waveform {
    border: solid #888 5px;
    border-radius: 25px;
}

.selectors {
    margin-bottom: 1.5%;
    float: left;
    padding: 2%;
    width: 40%;
}

.dataUrlSelector {
    margin-top: 5%;
}

.dataUrlSelector label {
    float: left;
    margin-right: 2%;
    margin-top: 7%;
}

#dataUrlField {
    width:50%;
    height: 100px;
}

#filePath {
    font-family: courier, monospace;
    font-size: 80%;
    padding-top: 2.5%;
    padding-right: 3%;
    padding-left: 3%;
}

#browse {
    border: 2px solid #888;
    border-radius: 10px;
    font-size: 100%;
    font-style: italic;
    background: #fff;
    padding: 1.5%;
}

.speedSelector {
    padding-top: 1%;
}

.speedSelector label {
    padding-right: 1%;
}